.articles {
    display: grid;
    grid-template-areas:
        "big top top"
        "big bot bot";
    max-width: 90%;
    margin: 0 auto;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.big {
    grid-area: big;
}

.top {
    grid-area: top;
}

.bot {
    grid-area: bot;
}

.articlesTitle {
    width: 100%;
    background-color: var(--primary-color);
    color: var(--light-color);
    font-family: "Horizon", sans-serif;
    text-align: center;
    margin: 0;
    padding: 16px 0;
    font-size: 35px;
}

.articlesInfo {
    scroll-margin-top: 50px;
    margin-bottom: 16px;
}

.buttonWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px auto 0;
}