.topNews {
    scroll-margin-top: 50px;
    margin-bottom: 16px;
}

.articles {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    margin-top: 16px;
    padding: 0 64px;
}

.articlesTitle {
    width: 100%;
    background-color: var(--primary-color);
    color: var(--light-color);
    font-family: "Horizon", sans-serif;
    text-align: center;
    margin: 0;
    padding: 16px 0;
    font-size: 35px;
}

.buttonWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px auto 0;
}